.array-generator-container  {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, max-content);
}

.array-generator-container button  {
  font-size: 15px;
}

.array-param label  {
  display: block;
  font-size: 15px;
}